/* IMPORTS */


/* VARS */

@font-face {
    font-family: 'ExpertSans';
    src: url("/fonts/ExpertSans-Light.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'ExpertSans';
    src: url("/fonts/ExpertSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'ExpertSans';
    src: url("/fonts/ExpertSans-ExtraBold.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'ExpertSans';
    src: url("/fonts/ExpertSans-RegularItalic.ttf");
    font-weight: 500;
    font-style: italic;
}


/* COLOURS */


/* FONTS */


/* GENERAL STYLES */

html {
    font-weight: 100;
    font-family: "ExpertSans";
    line-height: 1.8em;
    font-size: 1em;
}

body {
    background: rgba(0, 0, 0, 0.05);
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    white-space: nowrap;
}

textarea,
input {
    font-size: 0.8em;
    border: 1px dotted black;
}

.tabclass {
    padding-top: 3px;
    padding-left: 10px;
    background-color: black;
    /*rgba(170, 70, 55, 1);*/
    color: rgba(255, 255, 255, 1);
    padding-right: 10px;
    font-size: 0.8em;
    width: auto;
    display: inline-block;
    font-weight: 600;
    margin-right: 13px;
    margin-bottom: 13px;
}

.tabclass .confidence {
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 8px;
}

.newContent {
    padding-right: 20px;
    height: 100%;
    min-width: 340px;
    max-width: 340px;
    padding: 20;
    /* display: inline-block; */
    /* margin: 0; */
    white-space: normal;
}

button {
    min-width: 100%;
    /* margin: 20px; */
    height: 40px;
    background-color: black;
    /*rgba(170, 70, 55, 0.7);*/
    border: 0;
    color: white;
    font-size: 1em;
}

nav {
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none !important;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    /*color: rgba(170, 70, 55, 0.9);*/
    color: inherit
}

h4 {
    opacity: 0.6;
}

#newImage {
    width: auto;
    height: 100%;
}

@media (max-width: 552px) {
    html {
        font-size: 1em;
    }
    .newContent {
        display: inline-block;
        min-width: 200px;
        max-width: 100%;
        height: auto;
    }
    body {
        overflow-y: scroll;
        display: block;
        white-space: normal;
    }
    #newImage {
        height: auto;
        width: 100%;
    }
}


/* PANELS */

.pn {
    margin-top: 50px;
}

@keyframes outline-emphasis {
    from {
        background-color: black;
        /*rgba(170, 70, 55, 0.7);*/
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.loading-animation {
    animation-duration: 0.4s;
    animation-name: outline-emphasis;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/*# sourceMappingURL=style.css.map */