
<div class="page-container gridMain">

	<div class="gridFloat tweetGrid ">

{{!--  		<div class="tableFilter">
			<table>
				<tr>
					<td id="tweet_button"><h2>Tweets</h2></td>
					<td><h2> / </h2></td>
					<td id="email_button"><h2>Emails</h2></td> 
				</tr>
			</table>
		</div> 
 --}}

		{{#each tweets}}



			<div class="tweet {{user.screen_name}}" id="tweet_{{@index}}">
				<h2 class="tweet_header"> {{user.name}} </h2> 

				<div class="tweetText">
					<p>{{text}}</p>
				</div>

				<div class='keyword'><h3>{{keyword}}</h3></div>

				<div class="parseButton">
					<button type="button"><p>Approve</p></button>
				</div>


				{{!-- <a href="{{tweet_link}}" target="_blank"><img src="{{photo}}"></a> --}}

				<div class="image"> 
					<img src="{{photo}}">
					{{!-- <p class="send">Send to Parse</p> --}}
				</div>



			</div>

		{{/each}}

{{!-- 		{{#each email}}

			<div class="email {{type}}" id="tweet_{{@index}}">
				<h3 class="tweet_header"> {{source}} </h3> 

				<div class="tweetText">
					<p>{{description}}</p>
				</div>

				<div class='keyword'><p>{{tag}}</p></div>

				<a href="{{link}}" target="_blank"><img src="{{image}}"></a>
			</div>

		{{/each}} --}}

	</div>

</div>

