<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->


<head>
	<meta charset="uft-8">
	<title>Twitter Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700,100,300|Roboto:400,300,100,300italic,100italic' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet">
</head>

<body>

{{> header}}
	
{{> body}}
	
{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//localhost:35729/livereload.js"></script>
<script src="js/app.js"></script>
{{!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> --}}


</body>
</html>
