<!DOCTYPE html>

<head>
	<meta charset="uft-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Twitter Dashboard</title>
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="libs/animate.css">

</head>

<body id="home">

	<div class="edit">
		<div class="close_cross"><img src="imgs/black_delete.png"></div>
		<div class="form_holder">
			<div class="entry_form">
				<form>
					<h2 class="form_header"></h2>
					<h3> Description </h3>
					<textarea class='description' name="Text1" cols="38" rows="5" ></textarea>
					<h3> Tags </h3>
					<textarea class='tags' name="Text1" cols="38" rows="2" ></textarea>
					<h3> Image URL </h3>
					<textarea class='url' name="Text1" cols="38" rows="2" ></textarea>
				</form>
				<div class="edit_buttons">
					<button class="submit_button" type='button'><p>Submit</p></button>
					<button class="cancel_button" type='button'><p>Cancel</p></button>
				</div>
			</div>
		</div>
	</div>
  
	<div class="header">
		<img class="akqa wow fadeIn" data-wow-delay="0.5s" src="imgs/AKQA.png">
		<img class="enki wow fadeIn" data-wow-delay="1s" src="imgs/enki.png">
		<h1 class="wow fadeIn" data-wow-delay="1.25s"> Curation Platform</h1>
		<div class="reload keyword_holder"><p></p></div>
	</div>	

	<div class="topics">
		<div class="topics-header">
			<h2 class="channel_button wow fadeIn" data-wow-delay="1.25s">Channels</h2>
			<h2 class="separator">&nbsp;/&nbsp;</h2>
			<h2 class="search reload"></h2>
		</div>
		<div id="topics-holder" class="topics-box"></div>
	</div>

	<script id="content-template" type="text/x-handlebars-template">
		{{#each results}}
			<div class="tweet wow fadeInUp" id="{{objectId}}">
				<div class='cover_tweet'></div>
				<div class="tweet_text">
					<div class='delete_button' onclick="deletePost('{{objectId}}')"><img src="imgs/delete.png"></div>
					<a href="{{url}}" target="_blank">
						<div class='tweet_header'><h2> {{title}} </h2></div> 
						<div class="tweet_description"><p>{{description}}</p></div>
					</a>
					<div class="keywords">
						{{#each tags}}
							<div class='keyword'><h3 onclick='keywordSearch(this)'>{{this}}</h3></div>
						{{/each}}
					</div>
					{{!-- <div class='tweet_source'><h2> {{source}} </h2></div>  --}}
					<div class="buttons"> 
						{{#if approved}}
							<button class="approval_button approved" type='button' onclick="undo('{{objectId}}')"><p>Approved</p></button>
						{{else}}
							<button class="approval_button" type='button' onclick="approval('{{objectId}}')"><p>Approve</p></button>
						{{/if}}
						{{!-- <button class="like_button" type='button' onclick="like('{{objectId}}')"><p>Like</p></button> --}}
						<button class="edit_button" type='button' onclick="myPage.edit_pane.showPane('{{objectId}}')"><p>Edit</p></button>
						{{!-- <div class='like_box'><p class="likes">{{likes}}</p></div> --}}
					</div>
				</div>
				<a href="{{url}}" target="_blank">
					<div class='image'><img src="{{imageUrl}}"></div>
				</a>
			</div>
		{{/each}}
	</script>

	<script id="topics-template" type="text/x-handlebars-template">
		{{#each results}}
			<div class="topic" ><p onclick="keywordSearch(this)">{{topic}}</p></div>
		{{/each}}
	</script>

	<div class="load_wheel"> 
		<img src="imgs/360.GIF">
	</div>

	<div class="page-container grid_main">
		<div class="grid_float tweet_grid ">
			<div id="content-holder"></div>
		</div>
		<div class="load_more">
			<button type="button"><p>Load More</p></button>
		</div>
	</div>

	<div class="grid_float footer">
		<p>AKQA Graduates</p>
		<p></br>2016</p>
	</div>

    <script src="libs/wow.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="libs/handlebars.js"></script>
	<script src="//localhost:35729/livereload.js"></script>
	<script src="js/app.js"></script>
	<script>
		new WOW().init();
    </script>

</body>
</html>
