body {
	font-size: 62.5%;
	background: #F0F0F0;
}

h1 {
	font-family: BentonSans-Thin;
	font-size: 5.5rem;
	// letter-spacing: -0.05em;
}

h2 {
	font-family: BentonSans-Medium;
	font-size: 1.8rem;
}

h3 {
	font-family: BentonSans-Medium;
	font-size: 1rem;
}

p {
	font-family: BentonSans-Book;
	font-size: 1.3rem;
}

.stop_scrolling {
	overflow: hidden;
}