@font-face {
    font-family: BentonSans-Black;
    src: url(../fonts/BentonSans-Black.otf);
}

@font-face {
    font-family: BentonSans-Bold;
    src: url(../fonts/BentonSans-Bold.otf);
}

@font-face {
    font-family: BentonSans-Book;
    src: url(../fonts/BentonSans-Book.otf);
}

@font-face {
    font-family: BentonSans-Light;
    src: url(../fonts/BentonSans-Light.otf);
}

@font-face {
    font-family: BentonSans-Medium;
    src: url(../fonts/BentonSans-Medium.otf);
}

@font-face {
    font-family: BentonSans-Thin;
    src: url(../fonts/BentonSans-Thin.otf);
}