.buttons {
	padding-top: 2.5em;
	height: 3em;

	button {
		float: left;
		border: 0;
		margin-right: 0.5em;
		height: 3.5em;
		width: 9em;
		text-align: center;
		background: #686868;
		border: 1px solid white;
		transition: background 0.3s;
	
		p {
			font-size: 1.1rem;
			font-family: BentonSans-Book;
			color: white; 
		}
	}	

	button:hover {
		background: #99cc00;
		cursor: pointer;

		.likes {
			color: white;
		}
	}

	.approved {
		transition: background 0.3s;
		background: #99cc00;
	}

	.approved:hover { 
		background: red;
	}

	button:focus {
		outline:0;
	}
}