.edit {
	visibility: hidden;
	z-index: 10;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color:rgba(128,128,128,0.8);

	.form_holder {
		position: relative;
		padding-left: 36.5%;
		width: 100%;

		.entry_form {
			border-radius: 5px;
			padding: 1.5%;
			color: white;
			background: black;
			width: 45em;
			height: 58em;
		    border-style: solid;
		    border-width: 0pt 0pt 7pt 0pt;
			border-color: #A8A8A8;
			opacity: 0;
			transition: border-color 0.5s, opacity 0.5s;

			h2 {
				font-size: 3rem;
			}

			h3 {
				font-family: BentonSans-Book;
				font-size: 1.75rem;
				padding-top: 0.8em;
				padding-bottom: 0.5em;
			}

			textarea {
			    resize: none;
			}

			.description {
				font-size: 1.25rem;
				width: 99%;
				height: 5em;
			}

			.tags {
				width: 99%;
				font-size: 1.25rem;
	 		}

			.url {
				height: 4em;
				width: 99%;
				font-size: 1.25rem;
	 		}
	
		}

		.entry_form:hover {
			border-color: #B3F927;
		}



	}

	.close_cross { 
		text-align: right;
	}
}
