.edit_buttons {
	padding-top: 3em;
	width: 100%;

	button {
		margin: 0;
		padding: 0;
		background: #686868;
		color: white;
		border: 1px solid white;
		transition: background 0.3s;

		p {
			font-family: BentonSans-Book;
			margin: 0;
			padding: 0;
		}
	}

	.submit_button {
		height: 5em;
		width: 49.7%;
	}

	.cancel_button {
		height: 5em;
		width: 49.7%;
	}

	.submit_button:hover {
		background: #99cc00;
	}


	.cancel_button:hover {
		background: red;
	}

	button:focus {
		outline:0;
	}

}