.header { 
	padding-top: 10%;
	padding-left: 11%;

	h1 {
	    margin-left: -8px;
	    padding-top: 0.25em;
	}

	.akqa {
		width: 13em;
		padding-right: 1.5em;
		margin-bottom: 2em;
	}

	.enki {
		padding-left: 1.5em;
		padding-bottom: 0.72em;
		margin-bottom: 2em;
		border-left: 2.5px solid;
		width: 15.3em;
	}

	.keyword_holder {
		opacity: 0;
		margin-top: 2.2em;
		transition: opacity 1s;
		display: inline-block;
		border-color: #A8A8A8;
	    border-style: solid;
	    border-width: 0pt 0pt 2pt 0pt;

		p {
			padding-bottom: 5pt;
			font-family: BentonSans-Book;
			font-size: 3rem;
			text-transform: capitalize;
		}
	}

	.keyword_holder:hover {
		p {
		    text-decoration: line-through;
		}
	}
}

.keyword_holder:hover {
	cursor: pointer;
}

@media screen and (max-width: 480px) {

	.header {

		padding-left: 1em;

		img{
			padding-bottom: 1em;
		}

		h1 { 
		    margin-left: 0px;
			font-size: 4rem;
		}

	}
	
}