.keywords {

	clear: both;
	height: 8em;
	padding-top: 5em;
	padding-bottom: 1em;

	.keyword {
		border: 1px solid white;
		background: black;
		color: white;
		float: left;
		margin-top: 0.5em;
		margin-right: 0.5em;
		padding: 0.6em;
		text-transform: capitalize;
		transition: background 0.3s;
	}

	.keyword:hover {
		background: #686868;
		cursor: pointer;
 	}

}