.like_box {

	border: 1px solid white;
	float: right;
	height: 4em;
	width: 4.5em;

	.likes {
		font-size: 1.5rem;
		padding: 0.4em;
		text-align: center;
		border-radius: 3pt;
		font-family: BentonSans-Book;
	}
}
