.load_more {
	display: none;
	width: 100%;	
	padding-top: 2em;
	padding-bottom: 10.5em;
    text-align: center;

	button {
		border: 2px solid #99cc00;
		margin: 0;
		height: 8.2em;
		width: 20em;
		text-align: center;
		background: #99cc00;
		border-radius: 40pt;
		transition: all 0.2s;
		color: white; 

		p {
			font-size: 1.6rem;
			font-family: BentonSans-Light;
		}
	}

	button:hover {
		background: #F0F0F0;
		color: #99cc00;
	}

	button:focus {
		outline:0;
	}
}

@media screen and (max-width: 596px) {

	.load_more {
	
		button {
			margin-left: 0;
			width: 100%;
			border-radius: 3pt;
		}
	
	}
}