.topics {
	margin-left: 11%;
}

.topics-header {

	float: left;
	display: inline-block;
   	border-style: solid;
    border-width: 0pt 0pt 2pt 0pt;
	border-color: #F0F0F0;
	transition: border-color 0.5s;
	margin-right: 30em;
	margin-bottom: 4em;	

	h2 {
		float: left;
		font-family: BentonSans-Book;
		font-size: 3rem;
		text-transform: capitalize;	
	}

	.channel_button {

	}

	.separator {
		display: none;
	}

	.search {
		float: left;
	}

	.search:hover {
	    text-decoration: line-through;
	}

}

.topics-header:hover {
	border-color: #B3F927;
	cursor: pointer;
}

.topics-box {
	display: none;
	height: auto;
	width: 87.8%;
	background: white;

	.topic {
		float: left;
		padding: 0.25em;
		margin: 1.75em;
	    border-style: solid;
	    border-width: 0pt 0pt 2pt 0pt;
		border-color: #A8A8A8;
		border-color: white;
		transition: border-color 0.5s;
		background: white;

		p {
			text-transform: capitalize;
			font-family: BentonSans-Book;
			color: black;
			font-size: 2rem;
		}
	}

	.topic:hover {
		border-color: #B3F927;
	}
}

.selected {
	border-color: #B3F927;
}
