.tweet_grid {
	padding-top: 3.5em;
	padding-bottom: 10em;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
}

.tweet {
	position: relative;
	float: left;
	background: white;
	width: 31.3%;
	min-width: 24em;
	height: 64.8em; 
	margin: 1%;
    border-style: solid;
    border-width: 0pt 0pt 5pt 0pt;
	border-color: #A8A8A8;
	transition: border-color 0.7s, background 0.7s , color 0.7s , opacity 0.7s;

	.tweet_header {
		float: left;
		width: 90%;
		padding-top: 1.35em;
		padding-bottom: 3.25em;
	}

	.tweet_source {

		h2 {
			float: right;
			font-size: 1.25rem;
			font-family: BentonSans-Book;
			padding-top: 0em;

		}
	}

    .tweet_text {
		height: 30em;
		padding: 1.20em;
	}

	.tweet_description {
		clear: both;
		height: 5em;
		line-height: 1.25;
		padding-bottom: 1em;
	}
	
	a { 
		text-decoration: none;
		color: black;
	}

}

.tweet:hover {
	border-color: #B3F927;
	background: black;

	a {
		color: white;	
	}

	.keyword {
		color: white;
	}
	
	.likes {
		color: white;
	}

} 

@media screen and (max-width: 1118px) {

	.tweet_grid {
		padding-left: 1%;
		padding-right: 1%;
		width: 98%;
	}

	.tweet { 
		width: 31.3%; 
	}

}

@media screen and (max-width: 927px) {

	.tweet { 
		width: 48%;
	}

}

@media screen and (max-width: 596px) {

	.tweet_grid {
		padding-top: 2em;
	}

	.tweet { 
		width: 95%;
		margin: 3%;
	}
	
}